<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Backend/Default"/>

<f:section name="iconButtons">
</f:section>

<f:section name="main">
    <h1>H5P Editor</h1>
    <f:form action="create" enctype="multipart/form-data" name="h5p-editor-form" id="h5p-editor-form" object="{newContent}">
        <input type="hidden" name="h5p_library" value="0">
        <input type="hidden" name="h5p_type" value="create">
        <div id="edit-h5p-editor" class="form-item form-type-item">
            <label for="edit-h5p-editor">Select content type </label>
            <div class="h5p-editor">Waiting for javascript...</div>
        </div>
    </f:form>
    <script type="text/javascript">
        try {
            window.H5PIntegration = {
                'baseUrl': '',
                'url': '',
                'postUserStatistics': '',
                'ajax': '',
                'setFinished': '',
                'contentUserData': '',
                'saveFreq': '',
                'l10n': [],
                'H5P': '',
                'hubIsEnabled': '',
                'reportingIsEnabled': '',
                'editor': {
                    'libraryUrl': '',
                    'fileIcon': '',
                    'ajaxPath': '',
                    'filesPath': '',
                    'apiVersion': ''
                }
            };
        }
        catch (err) {
            console.error('Missing H5PIntegration settings.');
        }

        // Set up editor settings
        // H5PEditor.$ = H5P.jQuery;
        // H5PEditor.baseUrl = '';
        // H5PEditor.basePath = '';
        (function ($) {
            function init () {
                H5PEditor.init(
                    $('#h5p-editor-form'),
                    $('input[name="h5p_action"]'),
                    $('input[name="package"]'),
                    $('.h5p-editor'),
                    $('.h5p-editor'),
                    $('input[name="h5p_library"]'),
                    $('input[name="h5p_type"]')
                );
            }

            $(document).ready(init);
        })(H5P.jQuery, H5PEditor);
    </script>
</f:section>
</html>
