<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Backend/Default"/>

<f:section name="iconButtons">
</f:section>

<f:section name="main">
    <h1>Import H5P package</h1>
    <f:flashMessages/>

    <f:render partial="FormErrors" arguments="{object:'newContent'}"/>

    <f:form action="create" enctype="multipart/form-data" name="newContent" object="{newContent}">
        <f:render partial="Content/FormFields"/>
        <f:form.submit value="Import"/>
    </f:form>
    <p>You may start with examples from <a href="https://h5p.org/content-types-and-applications">h5p.org</a>.</p>
</f:section>
</html>
