<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Backend/Default"/>

<f:section name="content">
    <h1>
        <f:translate key="action.index.title"/>
    </h1>
    <f:if condition="{f:count(subject: h5pContent)}">
        <f:then>
            <div class="table-fit">
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th class="col-title">Name</th>
                        <th>Library</th>
                        <th>Version</th>
                        <th>Last updated</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <f:for each="{paginator.paginatedItems}" as="content">
                        <tr>
                            <td>
                                <a href="{f:uri.action(action: 'show', arguments: '{contentId: content.uid}', additionalParams: '{id: id}')}">
                                    <strong>{content.title}</strong>
                                </a>
                            </td>
                            <td>{content.library.title}</td>
                            <td>{content.library.majorVersion}.{content.library.minorVersion}.{content.library.patchVersion}</td>
                            <td>
                                <f:format.date format="{dateFormat} {timeFormat}">{content.updatedAt}</f:format.date>
                            </td>
                            <td class="col-control">
                                <div class="btn-group" role="group">
                                    <a class="btn btn-default"
                                       href="{f:uri.action(action: 'show', arguments: '{contentId: content.uid}', additionalParams: '{id: id}')}">
                                        <core:icon identifier="actions-document-info"/>
                                    </a>
                                    <a class="btn btn-default"
                                       href="{f:uri.action(action: 'edit', arguments: '{contentId: content.uid}', additionalParams: '{id: id}')}">
                                        <core:icon identifier="actions-document-open"/>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    </f:for>
                    <f:comment>
                        Footer row: no officially defined style yet
                    </f:comment>
                    <tr>
                        <td colspan="5">
                            <f:count subject="{h5pContent}"/>
                            <f:translate key="contentElements"/>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <f:render partial="SimplePagination" arguments="{paginator:paginator, pagination:pagination, action: action}"/>
        </f:then>
        <f:else>
            <p>No H5P content available. You must upload or create new content.</p>
            <f:if condition="{h5pContentAllowedOnPage}">
                <f:then>
                    <f:form action="new" controller="H5pModule">
                        <f:form.button class="btn btn-light" type="submit">
                            <f:translate key="module.menu.new">Create</f:translate>
                        </f:form.button>
                    </f:form>
                </f:then>
                <f:else>
                    <p>No H5P content allowed on this page, please navigate to a folder and add content there.</p>
                </f:else>
            </f:if>
        </f:else>
    </f:if>
</f:section>
</html>
