<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Backend/Default"/>

<f:section name="iconButtons">
</f:section>

<f:section name="content">
    <h1><f:translate key="module.menu.new">New</f:translate></h1>
    <f:flashMessages/>

    <f:render partial="FormErrors" arguments="{object:'newContent'}"/>

    <f:form method="post" enctype="multipart/form-data" id="h5p-content-form" action="create" controller="H5pModule">
        <div id="post-body-content">
            <div class="h5p-upload">
                <f:form.upload name="h5p_file" id="h5p-file"/>
                <div class="h5p-disable-file-check">
                    <label><input type="checkbox" name="h5p_disable_file_check" id="h5p-disable-file-check"/> Disable
                        file extension check</label>
                    <div class="h5p-warning">Warning! This may have security implications as it allows for uploading php
                        files. That in turn could make it possible for attackers to execute malicious code on your site.
                        Please make sure you know exactly what you're uploading.
                    </div>
                </div>
            </div>
            <div class="h5p-create">
                <div class="h5p-editor">Waiting for javascript...</div>
            </div>
        </div>
        <div class="postbox h5p-sidebar">
            <h2>Actions</h2>
            <div id="minor-publishing" style="display:none">
                <label><f:form.radio name="action" value="upload"/>Upload</label>
                <label><f:form.radio name="action" value="create"/>Create</label>
                <f:form.hidden name="library" value="0"/>
                <f:form.hidden name="parameters" value='{"params":{},"metadata":{}}'/>
            </div>
            <div id="major-publishing-actions" class="submitbox">
                <input type="submit" name="submit-button" value="Create" class="button button-primary button-large"/>
            </div>
        </div>
        <div class="postbox h5p-sidebar">
            <div role="button" class="h5p-toggle" tabindex="0" aria-expanded="true" aria-label="Toggle panel"></div>
            <h2>Display Options</h2>
            <div class="h5p-action-bar-settings h5p-panel">
                <label>
                    <f:form.checkbox name="frame" class="h5p-visibility-toggler"
                           data="{data-h5p-visibility-subject-selector: '.h5p-action-bar-buttons-settings'}" value="true"
                           checked="checked"/>
                    Display toolbar below content </label>
                <div class="h5p-action-bar-buttons-settings">
                    <label
                        title="If checked a reuse button will always be displayed for this content and allow users to download the content as an .h5p file">
                        <f:form.checkbox name="download" value="true" checked="checked"/>
                        Allow users to download the content </label>
                    <label>
                        <f:form.checkbox name="embed" value="true" checked="checked"/>
                        Display Embed button </label>
                    <label>
                        <f:form.checkbox name="copyright" value="true" checked="checked"/>
                        Display Copyright button </label>
                </div>
            </div>
        </div>
    </f:form>
</f:section>
</html>
