.f3-widget-paginator {
    display: inline-block;
    padding-left: 0;
    margin: 18px 0;
    border-radius: 2px;
}
.f3-widget-paginator > li {
    display: inline;
}
.f3-widget-paginator > li.current,
.f3-widget-paginator > li > a,
.f3-widget-paginator > li > span {
    position: relative;
    float: left;
    padding: 6px 6px;
    margin-left: -1px;
    line-height: 1.5;
    color: #212424;
    text-decoration: none;
    background-color: #ffffff;
    border: 1px solid #dddddd;
}
.f3-widget-paginator > li > a:hover,
.f3-widget-paginator > li > span:hover,
.f3-widget-paginator > li > a:focus,
.f3-widget-paginator > li > span:focus {
    z-index: 2;
    color: #000000;
    background-color: #f5f5f5;
    border-color: #dddddd;
}
.f3-widget-paginator > li:first-child > a,
.f3-widget-paginator > li:first-child > span {
    margin-left: 0;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}
.f3-widget-paginator > li:last-child > a,
.f3-widget-paginator > li:last-child > span {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}
.f3-widget-paginator > .active > a,
.f3-widget-paginator > .active > span,
.f3-widget-paginator > .active > a:hover,
.f3-widget-paginator > .active > span:hover,
.f3-widget-paginator > .active > a:focus,
.f3-widget-paginator > .active > span:focus {
    z-index: 3;
    color: #ffffff;
    cursor: default;
    background-color: #0078e6;
    border-color: #0078e6;
}
.f3-widget-paginator > .disabled > span,
.f3-widget-paginator > .disabled > span:hover,
.f3-widget-paginator > .disabled > span:focus,
.f3-widget-paginator > .disabled > a,
.f3-widget-paginator > .disabled > a:hover,
.f3-widget-paginator > .disabled > a:focus {
    color: #d7d7d7;
    cursor: not-allowed;
    background-color: #ffffff;
    border-color: #dddddd;
}